[v-cloak] {
display: none;
}

/*el-dialog*/
.el-dialog{
    min-width: 375px;
    width: 40%;
}

.Hottitle{
    padding: 8px 0 0 0;
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
}

.Hotlog{
    margin-top: 20px;
}

.cont_title{
    font-size: 16px;
}

.el_upversion{
    text-align: center;
}

.cont_msg{
    margin-top: 10px;
    max-height: 600px;
}

.demo-type{
    text-align: center;
}

.el-avatar{
    box-shadow: 0 3px 12px 5px #f2edf3;
}

.el_upmes{
    border-top-color: #ebeef5;
    border-top-style: outset;
    border-top-width: 1px;
}

.span_a{
    padding: 2.5px 20px;
}


/*el-drawer*/
#row{
    display: flex;
    justify-content: space-around;
    height: 220px;
    position: absolute;
    flex-direction: column;
    bottom: 30px;
    right: 20px;
}

#row .el-button{
    margin-left: 0;
    animation: all 5s;
}

.el-drawer__header{
    margin: 0;
    padding: 20px;
    font-size: 22px;
    box-shadow: #f0f0f4 0 1px 5px 1px;
    z-index: 1;
}

.el-drawer__body {
    overflow:auto;
    padding: 0 20px;
}

.rtl{
    min-width: 375px;
    height: 0;
    width: 40%;
    direction: ltr; 
    text-align: left;
}

.hot_log_title{
    width: 100%;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.drawer_title{
    width: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.p1{
    margin-left: 15px;
}

.p2{
    margin-left: 10px;
    background: #0aa344;
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 15px;
    color: #fff;
}